body{
    background-color: rgb(6, 6, 85);
    color: white;
}

h1{
    
    text-align: center;
    color:rgb(236, 98, 6);
    border: 2px solid rgb(235, 95, 2);
}



h2{
    color:rgb(252, 252, 252);
}


